# Chương 2: Các lệnh cơ bản trên môi trường Unix

Các bài tập trong chương này sử dụng dữ liệu trong file hightemp.txt. File này bao gồm các bản ghi nhiệt độ cao nhất ở Nhật Bản. Mỗi bản ghi bao gồm 3 cột "Tỉnh", "Địa điểm", "Nhiệt độ" (độ C), và ngày tháng đo. Các cột dữ liệu được phân cách bằng ký tự tab. Viết các chương trình thực hiện các nhiệm vụ trong các bài tập dưới đây. Sau đó, chỉ sử dụng các lệnh trong unix để thực hiện các nhiệm vụ đó và xác nhận xem kết quả của chương trình bạn viết có giống với kết quả các lệnh unix đưa ra hay không.

# 10. Đếm số dòng trong file
Đếm số dòng trong file. Xác nhận kết quả bằng lệnh wc trong unix.

In [33]:
# Python code
num_lines = sum(1 for line in open('hightemp.txt'))
num_lines

24

In [5]:
# unix command
!wc -l hightemp.txt

24 hightemp.txt

# 11. Biến đổi các ký tự tab thành space

Chuyễn mỗi ký tự tab thành ký tự space. Xác nhận kết quả lần lượt bằng các lệnh sed, tr, và expand.

In [24]:
# Python code
with open('hightemp.txt', 'r') as f:
    content = f.read()
    
with open('hightemp_python.txt', 'w') as f:
    f.write(content.replace('\t', ' '))

In [17]:
# Unix command
!sed 's/\t/ /g' hightemp.txt > hightemp_sed.txt

In [18]:
# Unix command
!cat hightemp.txt | tr '\t' ' ' > hightemp_tr.txt

In [23]:
# Unix command
!expand -t1 hightemp.txt > hightemp_expand.txt

# 12. Lưu cột 1 vào file col1.txt, cột 2 vào file col2.txt

Trích xuất nội dung trong cột 1, cột 2 và lưu vào các file tương ứng: col1.txt và col2.txt. Thử thực hiện công việc chỉ dùng lệnh cut trong unix.

In [25]:
# Python
f_col1 = open('col1.txt', 'w')
f_col2 = open('col2.txt', 'w')

with open('hightemp.txt', 'r') as f:
    lines = f.readlines()
    
for line in lines:
    tokens = line.split('\t')
    f_col1.write(tokens[0] + '\n')
    f_col2.write(tokens[1] + '\n')
    
f_col1.close()
f_col2.close()

In [32]:
# Unix command
!cut -f 1 hightemp.txt > col1_unix.txt
!cut -f 2 hightemp.txt > col2_unix.txt

# 13. Trộn hai file col1.txt và col2.txt

Kết hợp nội dung trong 2 file col1.txt và col2.txt để tạo thành một file mới có nội dung giống với cột 1 và cột 2 trong file ban đầu (các cột cách nhau bởi ký tự tab). Sử dụng lệnh paste để thực hiện bài tập và xác nhận kết quả của chương trình bạn viết.

In [35]:
# Python
with open('col1.txt', 'r') as f:
    col1_lines = f.readlines()
with open('col2.txt', 'r') as f:
    col2_lines = f.readlines()
    
with open('ex13_file.txt', 'w') as f:
    for i in range(len(col1_lines)):
        f.write(col1_lines[i].strip() + '\t' + col2_lines[i].strip() + '\n')

In [39]:
# Unix command
!paste col1_unix.txt col2_unix.txt > fex13_file_unix.txt

# 14. Trích xuất ra N hàng đầu tiên của file
Viết chương trình trích xuất ra N hàng đầu tiên của file. Biến số dạng dòng lệnh là số tự nhiên N. Sử dụng lệnh head trong unix để thực hiện công việc.

In [45]:
# Python
with open('hightemp.txt', 'r') as f:
    lines = f.readlines()

for l in lines[:5]:
    print(l.strip())

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

In [42]:
# Unix code
!head --lines 5 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

# 15. Trích xuất ra N hàng cuối cùng của file
Viết chương trình trích xuất ra N hàng cuối cùng của file. Chương trình nhận đầu vào từ dòng lệnh là số tự nhiên N. Sử dụng lệnh tail trong unix để thực hiện công việc.

In [46]:
# Python
with open('hightemp.txt', 'r') as f:
    lines = f.readlines()

for l in lines[-5:]:
    print(l.strip())

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [47]:
# Unix code
!tail --lines 5 hightemp.txt

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

# 16. Chia file thành N phần
Chia file thành các files nhỏ với N lines mỗi file (đơn vị là các hàng trong file). Chương trình nhận đầu vào từ dòng lệnh là số tự nhiên N. Sử dụng lệnh split để thực hiện công việc (split -l N).

Sau đó, cải tiến chương trình để chia file thành thành N phần bằng nhau (thay vì N lines mỗi file).

In [70]:
# Python
# Subfile with N lines
with open('hightemp.txt', 'r') as f:
    lines = f.readlines()

N_lines = 5
i = 0
while i*N_lines < len(lines):
    with open('ex16_' + str(i) + '.txt', 'w') as f:
        for l in lines[i*N_lines:i*N_lines+N_lines]:
            f.write(l)
    i += 1

In [69]:
# Unix command
# Subfile with N lines
!split -d -l 5 hightemp.txt ex16_linux_ --verbose

creating file 'ex16_linux_00'
creating file 'ex16_linux_01'
creating file 'ex16_linux_02'
creating file 'ex16_linux_03'
creating file 'ex16_linux_04'

In [71]:
# Python
# N subfiles
with open('hightemp.txt', 'r') as f:
    line = f.read()

N_files = 7
N_chars = (len(line) + N_files - 1)//N_files
i = 0
while i*N_chars < len(line):
    with open('ex16_adv_' + str(i) + '.txt', 'w') as f:
        for l in line[i*N_chars:i*N_chars+N_chars]:
            f.write(l)
    i += 1

In [68]:
# Unix command
!split -d -n7 hightemp.txt ex16_linux_adv_ --verbose

creating file 'ex16_linux_adv_00'
creating file 'ex16_linux_adv_01'
creating file 'ex16_linux_adv_02'
creating file 'ex16_linux_adv_03'
creating file 'ex16_linux_adv_04'
creating file 'ex16_linux_adv_05'
creating file 'ex16_linux_adv_06'

# 17. Đưa ra các xâu ký tự duy nhất (unique) trong cột 1

Đưa ra các xâu ký tự duy nhất trong cột 1 của file. Sử dụng lệnh cut, sort, uniq để thực hiện nhiệm vụ.

In [3]:
# Python
with open('hightemp.txt', 'r') as f:
    lines = f.readlines()

col1 = [line.split()[0] for line in lines]

set(col1)

{'千葉県',
 '和歌山県',
 '埼玉県',
 '大阪府',
 '山形県',
 '山梨県',
 '岐阜県',
 '愛媛県',
 '愛知県',
 '群馬県',
 '静岡県',
 '高知県'}

In [2]:
# Unix command
!cut -f 1 hightemp.txt | sort | uniq

千葉県
和歌山県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県

# 18. Sắp xếp các hàng theo thứ tự giảm dần của giá trị (numeric value) của cột thứ 3

Viết chương trình thực hiện nhiệm vụ trên. Dùng lệnh sort để xác nhận (trong bài tập này, kết quả của chương trình của bạn với lệnh sort có thể khác nhau do có thể có các giá trị giống nhau trong cột thứ 3).

In [18]:
# Python
import pandas as pd

df = pd.read_csv('hightemp.txt', sep='\t', header=None)

df.sort_values(2)

       0     1     2           3
23   愛知県   名古屋  39.9  1942-08-02
21   山梨県    大月  39.9  1990-07-19
20   大阪府    豊中  39.9  1994-08-08
19   埼玉県    鳩山  39.9  1997-07-05
18   千葉県    茂原  39.9  2013-08-11
22   山形県    鶴岡  39.9  1978-08-03
17   群馬県    前橋  40.0  2001-07-24
16   岐阜県    美濃  40.0  2007-08-16
15   山形県    酒田  40.1  1978-08-03
14   愛媛県   宇和島  40.2  1927-07-22
13   静岡県   佐久間  40.2  2001-07-24
12   千葉県    牛久  40.2  2004-07-20
11   愛知県    愛西  40.3  1994-08-05
9    群馬県    館林  40.3  2007-08-16
10   群馬県   上里見  40.3  1998-07-04
8    埼玉県    越谷  40.4  2007-08-16
7    山梨県    勝沼  40.5  2013-08-10
6    静岡県    天竜  40.6  1994-08-04
5   和歌山県  かつらぎ  40.6  1994-08-08
4    山梨県    甲府  40.7  2013-08-10
3    山形県    山形  40.8  1933-07-25
2    岐阜県   多治見  40.9  2007-08-16
1    埼玉県    熊谷  40.9  2007-08-16
0    高知県   江川崎  41.0  2013-08-12

In [4]:
# Unix command
!sort -k 3 hightemp.txt

愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
山形県	酒田	40.1	1978-08-03
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
千葉県	牛久	40.2	2004-07-20
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

# 19. Sắp xếp theo tần suất xuất hiện

Đưa ra tần suất xuất hiện của các giá trị trong cột 1; sắp xếp các giá trị trong cột 1 theo thứ tự từ cao đến thấp của tần suất xuất hiện. Chỉ dùng lệnh cut, uniq, sort để thực hiện nhiệm vụ.

In [7]:
# Python
from collections import Counter

with open('hightemp.txt', 'r') as f:
    lines = f.readlines()

col1 = [line.split()[0] for line in lines]

col1_count = Counter(col1)

col1_count.most_common()

[('埼玉県', 3),
 ('山形県', 3),
 ('山梨県', 3),
 ('群馬県', 3),
 ('岐阜県', 2),
 ('静岡県', 2),
 ('愛知県', 2),
 ('千葉県', 2),
 ('高知県', 1),
 ('和歌山県', 1),
 ('愛媛県', 1),
 ('大阪府', 1)]

In [8]:
# Unix command
!cut -f 1 hightemp.txt | sort | uniq -c | sort -k 3 -nr

      3 群馬県
      3 山梨県
      3 山形県
      3 埼玉県
      2 静岡県
      2 愛知県
      2 岐阜県
      2 千葉県
      1 高知県
      1 愛媛県
      1 大阪府
      1 和歌山県